body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.background-lines {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  overflow: hidden;
}

.layout-container {
  max-width: 1200px;
  height: 100vh;
  margin: auto;
}
