.container {
  padding: 0 110px;
  font-family: "sans-serif";
  min-height: calc(100vh - 80px);
  @media (max-width: 500px) {
    padding: 0 20px;
  }
}

.link {
  text-decoration: none;
  color: #3ea8b9;
  &:hover {
    color: #3ea8b9;
  }
}

.icon {
  font-size: 3rem;
  margin-right: 1rem;
}

a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: #22252a;
  &:hover {
    color: #3ea8b9;
  }
}

p {
  text-indent: 50px;
}
.header {
  @media (max-width: 765px) {
    text-align: center;
  }
}
