a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: #22252a;
  &:hover {
    text-decoration: none;
    color: #3ea8b9;
  }
}

h2 {
  font-family: "sans-serif";
}

.container {
  text-align: center;
  padding-top: 10%;
  min-height: calc(100vh - 80px);
}

.icon {
  font-size: 8rem;
  margin: 1rem;
}
