.container {
  height: calc(80vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 1200px;
  display: inline-block;
}

.link {
  text-decoration: none;
  color: #3ea8b9;
  padding: 2px;
  margin: 0 5px;
}
