.container {
  min-height: calc(100vh - 80px);
  width: 100%;
  padding: 0;
  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}

.projectList {
  font-family: "sans-serif";
  display: inline-block;
  width: 300px;
  @media (max-width: 750px) {
    width: 100%;
    text-align: center;
  }
}

.projectListItem {
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
  &:hover .title {
    color: #3ea8b9;
  }
}

.title {
  transition: all 0.2s ease-in-out;
  @media (max-width: 750px) {
    color: #3ea8b9;
  }
}

.titleActive {
  color: #3ea8b9;
}

.projectImageContainer {
  position: fixed;
  vertical-align: top;
  width: calc(100vw - 340px);
  max-width: 860px;
  display: inline-block;
  padding: 30px 20px 30px 10%;
  @media (max-width: 750px) {
    display: none;
  }
}

.projectImage {
  width: 100%;
  box-shadow: 0 0 11px rgba(83, 68, 68, 0.5);
}

.projectImageSmallScreen {
  padding: 10px;
  box-shadow: 0 0 11px rgba(83, 68, 68, 0.5);
  margin-bottom: 5vw;
  @media (min-width: 750px) {
    display: none;
  }
}

.projectTechnologiesSmallScreen {
  font-family: "sans-serif";
  @media (min-width: 750px) {
    display: none;
  }
}

.technology {
  font-family: "sans-serif";
  margin: 20px;
}
