.container {
  width: 100vw;
  height: 100px;
  position: relative;
  top: 0;
}

.link {
  text-decoration: none;
  color: #3ea8b9;
  padding: 2px;
  margin: 0 5px;
}

ul {
  display: block;
  float: right;
}

li {
  display: inline-block;
  font-size: 1.5rem;
  text-align: 1.5rem;
  padding: "10px 20px";
}
